.todo-card {
  width: 75%;
  text-align: left;
  margin-left: 12%;
  background-color: rgb(141, 242, 251);
}
.todo-card-title {
  font-weight: bold;
}
.todo-card-complete {
  font-size: 15px;
}
.todo-card-button-status{
  background-color: white;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-size: 1rem;
  font-weight: 200;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 50%;
  max-width: 200px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 90%;
}
 
.todo-card-button-delete{
    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-size: 1rem;
    font-weight: 200;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 50%;
    max-width: 200px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    left: 90%;
  }
  
.todo-card-button-delete:focus, .todo-card-button-status:focus {
    outline: 0;
  }
  
.todo-card-button-delete:after, .todo-card-button-status:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
.todo-card-button-delete:hover:after, .todo-card-button-status:hover:after {
    bottom: 2px;
    left: 2px;
  }